body {
  width: 800px;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  border-left: 4px black solid;
}

.header {
  width: 700px;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgba(61, 61, 61, 0.247);
  display: flex;
  justify-content: space-between;
}

.personal-info {
  width: 300px;
  margin-left: 20px;
}

.contact-info {
  width: 200px;
  position: relative;
  margin-right: 20px;
  margin-bottom: 10px;
}
.shift {
  position: absolute;
  bottom: 0;
  right: 0;
}

.inline-text_copy--active,
.inline-text_input--active {
  font: inherit;
  color: inherit;
  text-align: inherit;
  padding: 0;
  background: none;
  border: none;
  /* border-bottom: 1px dashed #666666; */
}

.inline-text_copy--active {
  cursor: pointer;
}

.inline-text_copy--hidden,
.inline-text_input--hidden {
  display: none;
}

.inline-text_input--active {
  border-bottom: 1px solid #666666;

  text-align: left;
}

.section {
  width: 700px;
  border-bottom: 2px black solid;
  /* border-left: 4px black solid; */
}

.section h4 {
  margin-left: 20px;
}

.edu-form {
  position: absolute;
  margin-left: 140px;
  margin-top: 10px;
  display: grid;
  flex-wrap: wrap;
  width: 450px;
  justify-items: center;
  border: 2px grey solid;
  padding-top: 30px;
  background-color: white;
}

.edu-form-item {
  display: flex;
  /* align-content: space-between; */
  width: 350px;
  justify-content: space-between;
}

.education {
  display: flex;
  width: 820px;
}

.btn {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.15em solid black;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: black;
  text-align: center;
  transition: all 0.2s;
  height: 50px;
  width: 100px;
  /* justify-self: center; */
  align-self: center;
  background-color: white;
}

.btn:hover {
  color: white;
  background-color: grey;
  cursor: pointer;
}

.form-control {
  margin: 20px 0;
}

.add-form {
  margin-bottom: 40px;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 90%;
  height: 40px;
  margin: 2px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 10px;
}

.btn1 {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn1:focus {
  outline: none;
}

.btn1:active {
  transform: scale(0.98);
}

.btn1-block {
  display: block;
  width: 40%;
}

.study-strip {
  display: flex;
  /* justify-content: space-evenly; */
  font-size: 14px;
}

.study-strip h4 {
  width: 200px;
}

.study-strip p {
  margin-left: 50px;
  width: 100px;
}

.skill-strip {
  /* width: 500px; */
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  margin: 20px;
  /* width: initial; */
}
.skill-strip p {
  margin: 20px;
  font-size: 14px;
}

.projects-container {
  margin: 40px;
}

.project-item h5 {
  margin: 0;
  font-style: italic;
}

.project-item p {
  margin-bottom: 20px;
}
